:root {
    --m3-title-small-font-family: "Roboto", Helvetica;
    --m3-title-small-font-size: 14px;
    --m3-title-small-font-style: normal;
    --m3-title-small-font-weight: 500;
    --m3-title-small-letter-spacing: 0.10000000149011612px;
    --m3-title-small-line-height: 20px;
    --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
    --m3syslightoutline-variant: rgba(202, 196, 208, 1);
  }