.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .input-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group select,
  .input-group input {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  
  .input-group input[type="date"] {
    width: 120px;
  }
  
  .date-range {
    display: flex;
    align-items: center;
  }
  
  .date-range span {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #fbd24d;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #e0a800;
  }
  



.event-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.event-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.event-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.event-time,
.event-location,
.event-category,
.event-date,
.event-price,
.event-organizer {
    font-size: 14px;
    color: #666;
    margin: 4px 0;
}


.event-price {
    font-weight: bold;
    color: #3e9f7b;
}


.event-date,
.event-organizer {
    color: #999;
    font-size: 13px;
}


.event-time,
.event-location,
.event-category {
    display: flex;
    align-items: center;
}

.event-location::before {
    content: "📍 ";
}

.event-time::before {
    content: "🕒 ";
}

.event-category::before {
    content: "📂 ";
}


.event-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}


.no-events-message {
    font-size: 16px;
    color: #666;
    text-align: center;
    grid-column: 1 / -1;
    padding: 20px;
}


.filters {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    justify-content: center; 
}
