.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-image: url('/src/assets/peopletalking.png'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Adding a blur effect to the background image */
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px); /* Adjust the blur level as needed */
    z-index: 1; /* Make sure the blur layer is behind the form */
}


/* Form container styling with higher z-index to stay above background */
.form-container {
    background-color: rgba(255, 255, 255); /* Slight transparency to blend with background */
    border-radius: 24px;
    padding: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 60vw;
    min-width: 40vw;

    z-index: 2; /* Ensure it's above the blurred background */
    position: relative;

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 10px;
    align-items: center;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9c9b9b;
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}


.image-container {
    display: flex;
    width: 40%;
}

.logo {
    z-index: 1;
    object-fit: contain;
    width: 100%;
}

/* Form header styling */
.form-header {
    font-size: 1.5rem;
    /* margin-bottom: 50px; */
    /* padding-bottom: 50px; */
    font-weight: bolder;
    color: #515151;
}

/* Fields styling */
.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    padding-bottom: 30px;
}

.subheader {
    font-size: 2rem;
    color: #515151;
    font-weight: bold;
    padding-bottom: 15px
}


.cluster {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* Password hint text */
.password-hint {
    color: #666666;
    font-size: 0.875rem;
}

#show-password {
    color: #666666;
    justify-content: flex-start;
}

/* Checkbox styling */
.checkbox {
    color: black;
}

.checkbox.Mui-checked {
    color: black;
}

.submit-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


/* Login link styling */
.login-link {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

/* on hover effect for login link */
.login-link:hover {
    color: #9c9b9b;
}
